/* twitter <i class="fa-brands fa-twitter"></i>
    instagram <i class="fa-brands fa-instagram"></i>
    facebook <i class="fa-brands fa-facebook-square"></i>*/
@font-face {
    font-family: Icons;
    src: url(/fonts/MaterialIcons-Regular.ttf);
}

:root{
   --Ds100: #1f2041;
    --Ds75: rgba(31, 32, 65, 0.75);
    --Ds50: rgba(31, 32, 65, 0.5);
    --Ds25: rgba(31, 32, 65, 0.25);
    --Ds5: rgba(31, 32, 65, 0.05);
    --pure: #BC9CFF;
    --green: #6FCF97;

    
}

body{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--Ds75);
}
h1{
    color: var(--Ds100);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}

h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}
li{
    font-family: Icons;
    
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
/* ----header */ 
.header {
    max-width: 1160px;
    margin: 8px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.menu_list {
    display: flex;
    align-items: center;
    gap: 20px;

}




.menu-link{
    color: var(--Ds50);;
    font-family: Montserrat;
}
.menu-link:hover{
    color: var(--Ds100);
    font-weight: 700;
    transition: 0.1s;
}

.expand{
  font-size: 24px;
  vertical-align: text-top;
  line-height: 19px;
  font-family: Icons;
  cursor: pointer;
}

.button-sing-in {
    border-radius: 22px;
    border: 2px solid;
    border:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    padding: 9px 20px;

    max-width: 87px;
    max-height: 34px;
    text-align: center;
    vertical-align: text-top;
    text-transform: uppercase;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgba(188, 156, 255, 1);
}

.button-registration {

    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    padding: 9px 20px;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    color: #FFFFFF;
}
/*-footer*/
footer ul {
    flex-direction: column;
    display: flex;
    gap: 10px;
}
.footer{
    margin: 100px 0;
    
}
.footer__content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}
.footer__title{
    color: var(--Ds100);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}
.footer__info {
  flex: 0 1 22%;
}
.footer__info p {
    margin-top: 20px;
}

.footer__nav {
   flex: 0 1 13%;
}


.footer__about {
    flex: 0 1 10%;
}

.footer__help {
    flex: 0 1 13%;

}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    flex: 0 1 22%;
    gap: 20px;


   
}

.pull {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.email {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding-left: 15px;
    color: rgba(31, 32, 65, 0.75);;
    border-radius: 4px;

    -webkit-appearance: none;
}
.email::placeholder{
    color: rgba(31, 32, 65, 0.25); 
}
.email:focus{
    outline: 0;
    outline-offset: 0;
    color: var(--Ds50);
}

.submit {
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: Icons;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;



    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.submit:before {
   
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}
.footer__copy {
    border-top: 1px solid rgba(31, 32, 65, 0.05) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copy__text {
    margin: 23px 0px;
}

.copy__icon {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    
    font-weight: 400;
    font-size: 24px;
    line-height: 23px;
}
.copy__icon *{
    margin-left:20px;
}
/*---finder----*/

.main {}

.finder {
    max-width:380px ;
    max-height: 374px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.finder__container{
    margin: 40px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.finder__title {}

.finder__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.date {
    display: flex;
    gap: 20px;
    
}
.heading-form{
    margin-bottom: 3px;
}
.come input {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding-left: 15px;
    color: rgba(31, 32, 65, 0.75);
    ;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-inner-spin-button: none;
}


.out input {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding-left: 15px;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
    border-radius: 4px;
    
    -webkit-appearance: none;
}
    
.guests select {
  
}

.button {
    text-transform: uppercase;
    
    -webkit-appearance: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 9px 20px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    color: #FFFFFF;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 10px;
}
.button:focus{
    outline: 0;
    outline-offset: 0;
}
.button__text{
    flex: 1 1 auto;
}
.arrow_forward{
    text-transform: none;
    font-family: 'Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
      
}

.dropdown {
width: 100%;
height: 42px;
border: 1px solid rgba(31, 32, 65, 0.25);
padding-left: 15px;
color: rgba(31, 32, 65, 0.75);
border-radius: 4px 4px 0 0;

display: flex;
align-items: center;
justify-content: space-between;
-webkit-appearance: none;
}
.dropdown-container{
    
}
.dropdown span {
    font-family: Icons;
}

.dropdown-expand {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px 7px 7px 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
}

.dropdown-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    text-transform: uppercase;
}
.dropdown-element h3 {
  
}
#count{
    width: 6px;
}
.counter {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    
}
.counter #pluse, #minus{
    border-radius: 50%;
    border: 1px solid;
    width: 30px;
    height: 30px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
}
.counter-zero{
    opacity: 38%;
}
.dropdown-button{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: var(--pure);
    width: 90px;
    height: 15px;
    display: flex;
    align-self: self-end;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;



}
.dropdown-buttons{
    display: flex;
    justify-content: right;
}
.clear{
    margin-left: -6px;
}
.confirm{
    justify-self: end;
}
/*-----calendar-------*/


.air-datepicker{
    width: 320px;
    height: 369px;
}

.air-datepicker-nav--title, .air-datepicker-nav--title i{
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        color: var(--Ds100)
}
.air-datepicker-body--day-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--pure);

    margin-bottom: 30px;
}
.air-datepicker-cell.-focus-{
background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
border-radius: 20px;

}
.air-datepicker-cell {
   
}
.air-datepicker-cell.-selected-{
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
}
.air-datepicker-nav{
    margin-top:20px;
    margin-left: 20px ;
    margin-right: 20px ;
    border: none
}
.air-datepicker--buttons{
 border: none;
  
}
.air-datepicker-button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;
    color: var(--pure);
}
/*--registration---*/
.regform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 686px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-image: url(/img/regformbackjpg.jpg);
}

.registration {
    margin: 10px auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    
    min-width: 380px;
    min-height: 646px;
    padding: 40px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.registration h1{
    margin-bottom: 20px;
}
.registration h2{
    margin:20px 0 5px 0;
    color: var(--Ds100);
}
.regform-femal{
    display: flex;
    
}
.regform-femal label:not(:last-child){
    margin-right: 20px;
}


.input_form {
        height: 44px;
        border: 1px solid rgba(17, 17, 21, 0.25);
        color: rgba(31, 32, 65, 0.75);
        border-radius: 4px;
        -webkit-appearance: none;
        margin-bottom: 10px;
}


.registration__sing-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="radio"]{
/* remove standard background appearance */
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
/* create custom radiobutton appearance */
display: inline-block;
width: 20px;
padding: 4px;
height: 20px;
/* background-color only for content */
background-clip: content-box;
border: 2px solid var(--pure);
border-radius: 50%;
}
input[type="radio"]:checked {
    background-color: var(--pure)
}

.registration__switch {
    display: flex;
    align-items: center;
    width:40px ;
    height: 20px;
    padding: 4px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid var(--pure);
    opacity: 0.5;
    
}
.registration__switch.active{
    opacity: 1;
}
.switch--slider {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transition: 0.3s;
}
.registration input[type = "checkbox"]{
 display: none;
}
 
.registration__toogle{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.none {
    display: none;
}