extends base

block content 
  include header
  .block.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus accusantium quo
   s consequuntur, reiciendis aperiam repellendus minima nemo. 
   Sit, molestiae, maiores repudiandae ad provident quam corporis perspiciatis repellat impedit, pariatur facere.
  ul.a 
    li c
    li c
    li c
    li c