section.finder
    .finder__container
        h1.finder__title Найдём номера под ваши пожелания
        form.finder__form
            .date
                .come
                    h3.heading-form прибытие
                    input(type="text" id = "start" placeholder = " дд.мм.гг." readonly)
                .out
                    h3.heading-form выезд
                    input(type="text" id = "end" placeholder = " дд.мм.гг." readonly)
            .guests 
                h3.heading-form гости
                .dropdown-container
                    .dropdown
                        p Сколько гостей
                        span.expand expand_more
                    .dropdown-expand.none
                        .dropdown-element
                            h3 взрослый
                            .counter
                                span.counter-zero#minus -
                                h3#count 0
                                span#pluse +
                        .dropdown-element 
                            h3 дети
                            .counter
                                span.counter-zero#minus -
                                h3#count 0
                                span#pluse +
                        .dropdown-element 
                            h3 младенцы
                            .counter
                                span.counter-zero#minus -
                                h3#count 0
                                span#pluse +
                        .dropdown-buttons
                            input(type="submit" class = "dropdown-button clear none " value = "очистить")
                            input(type="submit" class = "dropdown-button confirm" value = "применить")
            .finder__buttom 
                button.button 
                    span.button__text подобрать номер
                    span.arrow_forward arrow_forward
