footer.footer
    .container
        .footer__content
            .footer__info
                img(src="/img/logo.png", alt="")
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__nav <span class = "footer__title"> Навигация </span> 
                ul 
                    li
                        a(class = 'menu-link' href="/#")  О нас
                    li
                        a(class = 'menu-link' href="/#")  Новости
                    li
                        a(class = 'menu-link' href="/#")  Служба поддержки
                    li
                        a(class = 'menu-link' href="/#")  Услуги
            .footer__about  <span class = "footer__title"> о нас </span> 
                ul
                    li
                        a(class = 'menu-link' href="/#") О сервисе
                    li
                        a(class = 'menu-link' href="/#") Наша команда
                    li
                        a(class = 'menu-link' href="/#") Вакансии
                    li
                        a(class = 'menu-link' href="/#")  Инвесторы
            .footer__help <span class = "footer__title"> Служба поддержки </span> 
                ul
                    li
                        a(class = 'menu-link' href="/#") Соглашения
                    li
                        a(class = 'menu-link' href="/#") Сообщества
                    li
                        a(class = 'menu-link' href="/#") Связь с нами
            .footer__subscribe <span class = "footer__title"> Подписка </span> 
                p Получайте специальные предложения и новости сервиса
                form.pull
                    input.email(type="email" placeholder = "email")
                    input.submit(type="submit" value="arrow_forward")
        .footer__copy
            .copy__text
                p Copyright © 2018 Toxin отель. Все права защищены.
            .copy__icon
                i(class="fa-brands fa-twitter")
                i(class="fa-brands fa-instagram")
                i(class="fa-brands fa-facebook-square")
                
            
            