header.header
        .logo
            img(src="/img/logo.png", alt="логотип")
        nav.menu
            ul.menu_list
                li.menu-item
                    a(class = 'menu-link' href="#" )  О нас
                li.menu-item
                    a(class = 'menu-link' href="#" )  Услуги 
                        span.expand expand_more
                li.menu-item
                    a(class = 'menu-link' href="#" )  Вакансии
                li.menu-item
                    a(class = 'menu-link' href="#" )  Новости
                li.menu-item
                    a(class = 'menu-link' href="#" )  Соглашения
                        span.expand expand_more    
                a.button-sing-in Войти
                a.button-registration Зарегистрироваться