.regform-container
    form.sing-in(action="")
        h1 Войти 
        input(type="email" placeholder='Email' class = "input_form")
        input(type="pasword" placeholder='Пароль' class = "input_form")
        button.button#registration(type='submit' onclick="window.location.href ='https://w3docs.com'")
            span.button__text войти
            span.arrow_forward arrow_forward
        .registration__sing-in 
            p Уже есть аккаунт на Toxin
            a.button-sing-in(href="/Compiled-HTML/Compiled-HTML/html/registration.html") Создать